doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://libs.hhwy.org/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://libs.hhwy.org/ext/ext-all.js')
    script(type='text/javascript', src='http://libs.hhwy.org/ext/packages/ext-locale/build/ext-locale-zh_CN.js')
    block script
  body
    block content
